{{ .Scratch.Set "library_tags_list" ""}} {{ range .Params.library_tags }} {{
$.Scratch.Add "library_tags_list" ( . | printf " js-iso-%s") }} {{ end }} {{ if
.Params.Imgonly }}
<div
    class='col col-sm-6 col-md-6 col-lg-3 col-xl-2 mb-3 {{ $.Scratch.Get "library_tags_list" }}'
>
    <div class="card">
        <a href="{{ .Permalink }}" class="stretched-link"></a>
        {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }} {{ $img
        = $img.Fit "350x500" }} {{ with $img }}
        <img src="{{ .Permalink }}" alt="{{ $.Title }}" class="card-img" />
        {{ end }}
    </div>
</div>
{{ else }}
<div class='row {{ $.Scratch.Get "library_tags_list" }}'>
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 col-lg-2 m-3">
                        {{ $img := (.Resources.ByType "image").GetMatch
                        "*featured*" }} {{ $img = $img.Fit "250x400" }} {{ with
                        $img }}
                        <img
                            src="{{ .Permalink }}"
                            class="img-fluid rounded-start card-img-top"
                            alt="{{ .Title }}"
                        />
                        {{ end }}
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="card-body">
                            <a
                                href="{{ .Permalink }}"
                                class="stretched-link"
                            ></a>

                            <h5 class="card-title">{{ .Title }}</h5>
                            by
                            <small class="text-body-secondary"
                                >{{ .Params.Author }}</small
                            >
                            <p class="card-text">
                                {{ partial "status.html" . }}
                            </p>
                            <p class="card-text">{{ .Summary }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ end }} {{ .Scratch.Delete "library_tags_list" }}
</div>
